@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}

/*ANIMAÇÃO DAS BANANAS*/

.bananas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.banana {
  position: absolute;
  bottom: -100px;
  width: 50px;
  height: 50px;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/069/167/461/small/pixelated-banana-artistry-a-nostalgic-fruit-display-in-retro-gaming-style-isolated-png.png);
  background-size: cover;
  animation: subir linear forwards;
}

@keyframes subir {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) rotate(360deg);
    opacity: 0;
  }
}

/*Estilos para o layout geral*/

body {
  padding: 0PX;
  border: 0;
  margin: 20px;
  background: #FFF8E1;
  overflow-x: hidden;
  font-family: "Cabin", sans-serif;
  font-weight: 700px;
}

h1{
  font-family: 'Fredoka', sans-serif;
  font-size: 2.5em;
  text-align: center;
  margin: 20px;
  color: #512507;
  border-radius: 50px;
}

.container {
  display: flex;
  justify-content: space-around; 
  align-items: center;        
  gap: 20px;             
}

.nav-links{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 10px;
  list-style: none;
}

.nav-links a {
  font-family: 'Fredoka', sans-serif; 
  text-decoration: none;
  color: #6d4419;
  font-weight: bolder; 
  border-radius: 5px;  
  padding: 15px; 
}

.nav-links a:hover {
  color: #f4a300c9;
  transition: 0.7s;
}

.li-inicio, .li-contato, .li-sobre, .li-servicos {
  background-color: #f4a300c9;
  padding: 25px;
  border-radius: 10px;
}

.li-inicio:hover, .li-contato:hover, .li-sobre:hover, .li-servicos:hover{
    background-color: #5a4535;
    transition: 0.7s;
}

.bananas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.verdades {
  display:flex;
  align-items: center;
  gap:20px;
  justify-content: space-between;
  font-size: 20px;
  color: #734a07;
}

footer {
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  background-color: #f4a300c9;
  color: #6d4419;
  border-radius: 10px;
}
